section.contact {
    display: flex;
    margin-top: 50px;

    .container {
        h1.title {
            justify-content: flex-start;
            margin-bottom: 30px;
        }

        form {
            display: grid;
            width: 100%;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "name email"
                "subject subject"
                "message message"
                "actions actions";

            .form-control#name {
                grid-area: name;
            }
            .form-control#email {
                grid-area: email;
            }
            .form-control#subject {
                grid-area: subject;
            }
            .form-control#message {
                grid-area: message;
            }
            .actions {
                display: flex;
                justify-content: flex-start;
                grid-area: actions;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 40px;
                    height: 42px;
                    border: 1px solid $main-color;
                    background: $main-color;
                    font-size: 14px;
                    color: #fff;
                    text-transform: uppercase;
                    transition: all 0.4s ease;
                    cursor: pointer;

                    &:hover {
                        background: transparent;
                        color: $main-color;
                        transition: all 0.4s ease;
                    }
                }
            }

            .form-control {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;

                width: 100%;
                border: 1px solid #dfdfdf;
                height: 50px;
                padding: 15px 20px;
            }

            textarea.form-control {
                height: auto;
            }
        }
    }
}

.alert-msg {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    margin-bottom: 0px !important;

    background: #00a023;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 0px !important;

    &.error {
        background: #a00;
    }

    &.show {
        animation: ALERT 7s;
    }

    @keyframes ALERT {
        0% {
            padding: 0px;
            margin-bottom: 0px;
            height: 0px;
            opacity: 0;
        }

        10% {
            padding: 20px;
            margin-bottom: 20px;
            height: max-content;
            opacity: 1;
        }

        90% {
            opacity: 1;
            padding: 20px;
            margin-bottom: 20px;
            height: max-content;
        }

        99% {
            opacity: 0;
        }

        100% {
            opacity: 0;
            padding: 0px;
            margin-bottom: 0px;
            height: 0px;
        }
    }
}
