header#main-header {
    border-bottom: 3px solid $main-color;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: $header-h;

        & > a {
            display: flex;
            height: 100%;
            img.logo {
                width: 200px;
            }
        }

        nav ul {
            display: flex;
            height: 100%;
            margin: 0;
            list-style: none;

            li {
                a {
                    font-size: 14px;
                    font-weight: bold;
                    font-family: "Raleway", Arial, Helvetica, sans-serif;
                    color: #414143;
                    text-decoration: none;
                    text-transform: uppercase;

                    height: 100%;
                    padding: 0 15px;

                    &:hover,
                    &.active {
                        color: $main-color;
                    }
                }

                &:last-child a {
                    padding-right: 0;
                }
            }
        }
    }
}

.sticky {
    position: fixed;
    top: -70px;
    transform: translateY(70px);
    transition: transform 0.8s ease;
    transition-delay: 0.2s;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .banner {
    margin-top: $header-h;
}
